.scene {
	background: rgba(255, 255, 255, 0);
	position: absolute !important;
	bottom: 26px !important;
	margin: 0 auto;
}

.scene path:first-child {
	fill: #fafafa;
}

.scene path:nth-child(2) {
	fill: #e9e9e9;
}



.title {
	color: #fff;
	font-size: 6vw;
	font-weight: 400;
	z-index: 1000;
	font-family: "Arapey", serif;
	pointer-events: none;
}

.content2 {
	width: 100%;
	height: 800px;
	background: #333;
}